<div class="contenedor">
    <div class="login-form">
        <form method="post" action="/login">
            <h3 class="mt-5 mb-4 fw-normal text-center">Iniciar Sesión</h3>

            <div class="mt-4 mb-3">
                <input type="text" class="form-content" placeholder="DNI" name="dni" id="dni" required>
            </div>

            <div class="mb-4">
                <input type="password" class="form-content" placeholder="Contraseña" name="password" id="password"
                    required>
                <i class="bi bi-eye float-end" id="btnVerPsw"></i>
            </div>

            <div class="d-flex justify-content-between">
                <label for="tipoUsuario">Tipo de usuario:</label>
                <select name="tipoUsuario" id="tipoUsuario">
                    <option value="alumno">Alumno</option>
                    <option value="administrador">Administrador</option>
                </select>
            </div>


            <button type="submit" class="btn mt-3" id="btn-ingresar">Ingresar</button>
        </form>
        <a class="registrarse mt-3" href="/registro">Registrarse</a>
    </div>
</div>

<script src="/js/verPassword.js"></script>